@import "tailwindcss";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Pretendard-Regular';
}

button,
a {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}




/***************************** HEADER 영역 *****************************/
/* header 밑줄 효과 */

@layer components {
    .li_items::before {
        content: "";
        position: absolute;
        left: -11px;
        top: 5px;
        width: 1px;
        height: 20px;
        background-color: #bfbfbf;
        pointer-events: none;
    }

    /* hover 상태에서 before 고정 */
    .li_items:hover::before {
        opacity: 0.6 !important;
    }
}


@layer components {
    .underline-effect::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: black;
        transition: all 0.5s ease-in-out;
    }

    .underline-effect:hover::after {
        width: 100%;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0);
    }
}

.animate-slideDown {
    animation: slideDown 1s ease-in-out forwards;
}

.animate-slideUp {
    animation: slideUp 1s ease-in-out forwards;
}

/******************************************** MENU SUBMENU EFFECT ********************************************/

/* 서브메뉴 애니메이션 */
.submenu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.submenu.show {
    max-height: 1000px;
    /* 임의로 큰 값으로 설정 */
    opacity: 1;
}

/******************************************** BESTITEM 영역 ********************************************/

.best-item-content img {
    @apply mb-4;
    @apply h-28;
    @apply w-2xs
}

.best-item-content p {
    @apply text-[12px];
    @apply text-[#987703];
}

.best-item-content h2 {
    @apply text-[22px];
    @apply text-[#018c3b];
    @apply font-semibold;
}

.best-item-swiper {
    position: relative; /* Swiper 컨테이너에 relative 추가 */
  }



/* 버튼 공통 스타일 */
.btn-section {
    @apply w-44 h-16 border-none bg-[#009132] px-6 py-2 text-xl text-[#ffffff];
}

.footer-content li {
    @apply opacity-60;
    @apply text-sm;
}

.footer-content p,
dt {
    @apply opacity-60;
}

.footer-content dl {
    @apply opacity-60;
}

.footer-content address {
    @apply opacity-60;
}